<p-toolbar>
  <div class="ui-toolbar-group-left">
    <nav>
      <a routerLink="gameplay" label="Spielen" pButton type="button" routerLinkActive="active"></a>
      <a routerLink="scorelist" label="Ergebnisübersicht" pButton type="button" routerLinkActive="active"></a>
    </nav>
  </div>
</p-toolbar>
<div>
  <router-outlet></router-outlet>
</div>
