<h1>Ergebnisübersicht</h1>
<p-table [value]="games | async" [loading]="loading">
  <ng-template pTemplate="header">
    <tr>
      <th>Spielnummer</th>
      <th>Ihre Wahl</th>
      <th>Wahl des Computers</th>
      <th>Spielausgang</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-game>
    <tr>
      <td>{{game.id}}</td>
      <td>{{game.humanChoice}}</td>
      <td>{{game.computerChoice}}</td>
      <td>{{game.result}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length">
        Keine Spiele vorhanden
      </td>
    </tr>
  </ng-template>
</p-table>


