<h1>Spielen</h1>
<button pButton type="button" label="Stein" class="ui-button-rounded" (click)="selectStein()"></button>
<button pButton type="button" label="Schere" class="ui-button-rounded" (click)="selectSchere()"></button>
<button pButton type="button" label="Papier" class="ui-button-rounded" (click)="selectPapier()"></button>
<div [hidden]="!submitted">
  <h4>Ihre Wahl:</h4>
  <h1 style="color: black">{{humanChoice}}</h1>
  <h4>Wahl des Computers:</h4>
  <h1 style="color: black">{{computerChoice}}</h1>
  <h4>Spielausgang:</h4>
  <h1 style="color: black">{{result}}</h1>
</div>
